/* Importing Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Madimi One', sans-serif;
  text-decoration: none;
  list-style: none;
}
:root {
  --bg-color: #040404;
  --text-color: #fff;
  --main-color: #222327;
  --hover-color: #afe311;
  /* --btn-color: #357214; */
  --btn-color: #99c71f;
}
body {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}
header {
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  /* padding: 28px 12%; */
  transition: all 0.5s ease;
}

.logo img {
  width: 70%;
}

.navbar {
  display: flex;
  margin-left: -72px;
}
.navbar a {
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 35px;
  margin: 0 3px;
  transition: all 0.5 ease;
}
.navbar a:hover {
  color: var(--hover-color);
}
.navbar a.active {
  color: var(--hover-color);
}
.main {
  align-items: center;
}

.main a {
  margin-right: 25px;
  margin-left: 10px;
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.5 ease;
}

#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  cursor: pointer;
  z-index: 10001;
  display: none;
}

@media (max-width: 1280px) {
  header {
    padding: 14px 2px;
    transition: 0.2s;
  }
  .navbar a {
    padding: 5px 0;
    margin: 0px 20px;
  }
}
@media (max-width: 1530px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: auto;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: all 0.5s ease;
  }
  .navbar a {
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all 0.5s ease;
  }
  .navbar a:hover {
    color: var(--hover-color);
    transform: translateY(5px);
  }
  .navbar a.active {
    color: var(--hover-color);
  }
  .navbar.open {
    right: 2%;
  }
}
/* INDEX BODY START */

.headerimg {
  position: relative;
  width: 100%;
  height: auto;
  background: url(https://img.freepik.com/free-photo/delicious-cookies-wooden-board-glass-milk_23-2148837165.jpg?t=st=1710144422~exp=1710148022~hmac=5bef18887fcfb71fc4e0a698e2e957092256c6e1900adad8cf24aaf9670da9e0&w=1380);
  z-index: 1;
  transition: 0.3s ease;
  background-repeat: round;
}
.headerinfo {
  margin-left: 15%;
  color: var(--text-color);
  padding-top: 8.6rem;
  padding-bottom: 13rem;
}
.headerimg .container {
  display: ruby-text;
  width: 100%;
  height: 100%;
}

.headerimg::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #111;
  opacity: 0.3;
  z-index: -1;
}
.headertitle {
  font-size: 35px;
  color: #fff;
}
.headerpara {
  font-size: 17px;
  color: #ffffcd;
  margin-bottom: 15px;
}
.headerbtn {
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
  border-radius: 8px;
  color: #000000;
  width: 145px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 15px;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: 0.2s;
  background-color: var(--btn-color);
}

/* NOT NECESSARY */
.headerbtn::before,
.headerbtn::after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    var(--ch-black),
    var(--ch-black),
    var(--night-rider),
    var(--ch-white),
    var(--night-rider),
    var(--eer-black),
    var(--ch-black),
    var(--ch-black)
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 15s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.headerbtn:hover {
  border: 1px solid #fff;
  box-shadow: 0 0 10px #fff;
  border: none;
}
.slider {
  display: flex;
  align-items: center;
  height: 18rem;
  width: 100%;
}
marquee h2 {
  font-family: 'Times New Roman', Times, serif;
  color: var(--text-color);
  font-size: 55px;
}

.homevideo {
  height: 700px;
  width: 100%;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* INDEX BODY END*/

/* FOR BLOG LIST */
.threecards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 0 20px;
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.tcard {
  position: relative;
  width: 350px;
  height: auto;
  overflow: hidden;
  box-shadow: 0 0 10px #ede9e9;
  border-radius: 8px;
  padding: 20px;
}
.tcardimg {
  position: relative;
  width: 100%;
  height: 190px;
  overflow: hidden;
  border-radius: 5px;
}
.tcardimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: 0.3s ease;
}
.tcard:hover .tcardimg img {
  transform: scale(1.1);
}
.tcardimg span {
  position: absolute;
  top: 2%;
  left: 2%;
  padding: 10px;
  background-color: #fff;
  color: #000000;
  border-radius: 5px;
}

.tcardimg span:hover {
  color: orangered;
}
.tcardinfo {
  display: flex;
  position: relative;
  margin-top: 10px;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
}
.tlabel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 600;
  font-size: 13px;
  font-family: 'Times New Roman', Times, serif;
}
.star-rating,
.bloginfo,
.tcardbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tcardinfo h2 {
  font-size: 20px;
  color: var(--btn-color);
  text-align: center;
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif;
}
.fa-star {
  color: #555;
}
.checked {
  color: yellow;
}
.tcardinfo p {
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
}
.tcardinfo ol {
  gap: 12px;
}
.tcardinfo ol li {
  font-size: 12px;
  cursor: pointer;
}
.tcardinfo ol li i {
  margin-right: 5px;
  color: orange;
}
.tcardinfo ol li:hover {
  color: #4aa619;
}
.tcardbtn {
  position: relative;
  background-color: #afe311;
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  transition: 0.3s ease;
  overflow: hidden;
  z-index: 1;
}
.tcardbtn::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #95c11e;
  z-index: -1;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.tcardbtn:hover::before {
  transform: scale(1);
}
/* FOR BLOG LIST */

/* FOR BLOG DETAILS */

.detailcontainer {
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.detailsimg {
  width: 80%;
  height: 35rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.detailcontainer p {
  font-size: 27px;
  line-height: 34px;
  color: #ffffff;
  text-align: start;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  background-color: var(--btn-color);
}
.direction,
ol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
ol li {
  list-style-type: decimal;
}
/* FOR BLOG DETAILS */

/* FOR GALLERY */
body {
  font-family: 'Roboto', sans-serif;
  background: rgba(0, 0, 0, 0.9);
}
.wrapper {
  padding: 2rem;
  margin: 0 auto;
}
/* Gallery */
.wrapper h2 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 75px;
  letter-spacing: 30px;
  color: #95c11e;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 12.5rem);
  gap: 0.5rem;
}
/* Gallery Layout */
.gallery__item--1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.gallery__item--2 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
.gallery__item--3 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}
.gallery__item--4 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 3;
}
.gallery__item--5 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}
.gallery__item--6 {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
}
/* Gallery Link */
.gallery__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* Gallery Link Overlay */
.gallery__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
.gallery__link:hover .gallery__overlay {
  opacity: 1;
}
/* Gallery Overlay Text */
.gallery__overlay span {
  position: relative;
  line-height: 3rem;
}
.gallery__overlay span:before,
.gallery__overlay span:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  background: #fff;
  transition: width 0.3s ease-out 0.2s;
}
.gallery__overlay span:before {
  top: 0;
  left: 0;
}
.gallery__overlay span:after {
  bottom: 0;
  right: 0;
}
.gallery__link:hover .gallery__overlay span:before,
.gallery__link:hover .gallery__overlay span:after {
  width: 100%;
}
/* Gallery Image */
.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.05);
  transition: transform 0.5s, filter 0.5s;
}
.gallery__link:hover .gallery__image {
  transform: scale(1.2);
  filter: blur(2px);
}
@media screen and (max-width: 60rem) {
  .wrapper {
    padding: 1rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  /* Gallery Layout */
  .gallery__item--1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .gallery__item--2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .gallery__item--3 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
  }
  .gallery__item--4 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
  }
  .gallery__item--5 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }
  .gallery__item--6 {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
  }
  .gallery__overlay {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 35rem) {
  .gallery {
    display: block;
  }
  .gallery__item {
    margin: 0.5rem;
  }
  .gallery__link {
    height: 80vw;
  }
  .gallery__overlay {
    font-size: 1rem;
  }
}
/* END OF GALLERY */
/* CONTACT US */
.contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
form {
  margin-top: 20px;
  text-align: left;
}
label {
  display: block;
  margin-bottom: 5px;
}
#name,
#email,
#address,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
button {
  background-color: var(--btn-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #cecccc;
}
.contacth2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacthr {
  width: 85%;
  margin: 0 auto;
}
.contactlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
a.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--btn-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

a.btn:hover {
  background-color: #cecccc;
}

/* END OF CONTACT US */
/* FOOTER START */

.footer {
  background-color: var(--main-color);
  width: 100%;
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}

.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: var(--hover-color);
}

.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489c6;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: #ccc;
}

.footer-col form button {
  background: var(--btn-color);
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #cecccc;
}

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.footer-col .icons i {
  color: #afb6c7;
}

.footer-col .icons i:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .footer-col form {
    display: block;
  }

  .footer-col form :where(input, button) {
    width: 100%;
  }

  .footer-col form button {
    margin: 10px 0 0 0;
  }
}

/* FOOTER END */
